<form method="post" action="{{ path('app_products_delete', {'id': product.id}) }}" onsubmit="return confirm('¿Estás seguro de eliminar este registro?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button  data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar" class="badge bg-danger"><i class="las la-trash"></i></button>
</form>